
html, body {
  height: 100%;
  width: 100%;
  margin: 0; /* This is essential to avoid a small white border around the whole main div. */
}

.main-grid {
  display: grid;
  grid-template-columns: minmax( 0, 3fr ) minmax( 0, 5fr );
  grid-template-rows: min-content minmax( 0, 1fr );
  grid-template-areas:
    "intro intro"
    "table viewer";
  gap: 7px;
  height: 100vh;
}

.intro {
  grid-area: intro;
  max-width: 800px;
  margin: auto;
}

.viewer {
  position: relative;
  grid-area: viewer;
  width: 100%;
}

#viewer {
  width: 99%;
  height: 99%;
}

.viewer h1 {
  position: absolute;
  z-index: 300;
  top: 1rem;
  left: 3rem;
}

.table {
  grid-area: table; /* added for the grid above */
  overflow: auto;
}
/*
  This CSS originally copied largely as-is from:

      https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables
*/

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th {
  width: 9%;
}

th,
td {
  border: 1px solid gray;
  padding: 3px;
}

th.ident, td.done {
  background-color: rgb(220, 255, 220);
  font-weight: bold;
}

td.todo {
  background-color: rgb(255, 242, 242);
  font-style: italic;
}

tr.selected td {
  background-color: rgb(71, 95, 70);
  color: white;
}

td.chiral::before {
  content: '*';
}

th.balls, td.balls {
  background-color: rgb(255, 255, 255);
}

th.blu, td.blu {
  background-color: rgb(128, 186, 202);
}

th.yel, td.yel {
  background-color: rgb(248, 208, 128);
}

th.red, td.red {
  background-color: rgb(215, 128, 128);
}

/* typography */

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

thead td {
  text-align: center;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* graphics and colors */

thead,
tfoot {
  /* position:fixed; */
  background: whitesmoke;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2)
  );
}
